<aside class="aside">
    <section class="author">
        <div class="photo">
            <!--foto de Steve-->
        </div>
        <div class="bio">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
               Asperiores minus alias, vel odio eligendi recusandae numquam iste accusamus doloremque, 
               voluptatem, architecto repudiandae in. Facilis illo fugit assumenda ipsum error esse.</p>
        </div>
    </section>
    <section class="info">
        <div class="steve">
            <img src="./assets/images/steve.jpg" alt="Steve's face">
        </div>
        <div class="section_list">
            <ul>
                <li>Sección 1</li>
                <li>Sección 2</li>
                <li>Sección 3</li>
                <li>Sección 4</li>
                <li>Sección 5</li>
                <li>Sección 6</li>
            </ul>
        </div>
        <div class="cat">
            <ul>
                <li>Categoría 1</li>
                <li>Categoría 2</li>
                <li>Categoría 3</li>
                <li>Categoría 4</li>
                <li>Categoría 5</li>
                <li>Categoría 6</li>
            </ul>
        </div>
    </section>
</aside>