<main class="main">
    <article>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae magni neque fugit hic quasi sequi velit? Odio eligendi voluptate nihil ex? Nam nostrum molestias mollitia nobis debitis impedit quidem incidunt!</p>
    </article>
    <article>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae magni neque fugit hic quasi sequi velit? Odio eligendi voluptate nihil ex? Nam nostrum molestias mollitia nobis debitis impedit quidem incidunt!</p>
    </article>
    <article>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae magni neque fugit hic quasi sequi velit? Odio eligendi voluptate nihil ex? Nam nostrum molestias mollitia nobis debitis impedit quidem incidunt!</p>
    </article>
</main>
